body {
    /*background-color: #315481;*/
    /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
    /*background-attachment: fixed;*/
    background-image: url('/img/2.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
html{height:calc(100% - 1px);}
body {
    height:calc(100% - 61px);
}

nav {opacity:0.7}

#react-root,
#react-root > div,
#react-root > div > div{
    height:100%;
}

.taskList{
    min-height:100%;
    padding:10px;
    background-color:white;
    opacity: 0.9;
}

.taskList >* {opacity:1;
    z-index:10;}

.centered {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.delete-button {

    float: right;
    left: 3px;
    font-weight: bold;
    background: white;
    font-size: 1em;
    /*position: relative;*/
    border: none;
}

.main-container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    overflow: scroll;
    /*min-width: 500px;*/
}

.main-container * {
    overflow: auto;
}

li {
    /*position: relative;*/
    display: block;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li > * {
    display: inline-block !important
}

li .task-text {
    margin-left: 10px;
}


/*TODO*/
/*li.checked {
    color: #888;
}
!*TODO*!
li.checked .task-text {
    text-decoration: line-through;
}*/
.checked > *,
.checked > * > *,
.checked > * > * > *,
.checked > * > * > * > *,
.checked > * > * > * > * > *,
.checked > * > * > * > * > * > * {
    color: #888;
    text-decoration: line-through;
    background-color: #F8F8F8;;
}

.subtask-checkbox {
    left: -40px
}

.subtask-text-input {
    left: -40px
}

.subtask-remove {
    right: 30px
}

.task-text-input .subtask-text-input {
    width: calc(100% + 60px)
}

.date-control {
    padding-top: 10px;
    max-width: 300px
}

.dateChangeBtn > .button {
    max-width: 30px !important
}

nav{opacity:77%}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar  {
    margin-bottom:0px !important;
}

.navbar-brand {
    height: 60px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-right {
    padding-top: 10px
}

.copyUnchecked {
    min-width: 300px;
}

.task-text-input {
    width: 100%;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    box-shadow: none;
    border: none;

}

.width80 {
    width: 80%;

}


/*}*/

.subtasks {
    width: 100%;

}


.width100 {
    width: 100%
}

#datepicker{text-align: center}

.streakFields{ display: inline-block;}
.streakFields> .streakInd { display: inline-block;}
.streakInd {
    width: 10px;
    background-color: lightblue;
    border: 1px transparent;
    margin:3px;
    height: 10px;
    border-radius: 50%;
}

.table > tbody > tr >td{
    border-top: 0px
}

.streakTable > tbody > tr > td {
    border-left: 5px solid white;
    border-right: 5px solid white;
    padding: 0;
    height: 5px !important;
}

.colorRed {
    background-color: red;
}

.colorBlue {
    background-color: blue;
}

.mit-table > thead > tr > th,
.mit-table > tbody > tr > th,
.mit-table > tfoot > tr > th,
.mit-table > thead > tr > td,
.mit-table > tbody > tr > td,
.mit-table > tfoot > tr > td {
    padding: 8px 8px 0px 8px;
}

.table > tbody > tr:first-child {border-top:0px !important;}
.habit-table > tbody > tr > td {
    padding: 1px 8px 1px 8px !important;
}

.table {
    margin-bottom:0px;
}

.new-task{max-width:100%}

@media (max-width: 768px) {

    .main-container {
        width: 100%;
        min-width:100px
        height:100%
    }

    .task-text-input .subtask-text-input {
        width: 90%;
        min-width:90px
    }

}

tr:first-child {
    border-top:0px !important;
}
.historyList{
    position:relative;
    transition: position;
    -webkit-transition-property: position;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    overflow: scroll;
}
@media (min-width: 1200px) {


    .historyList {
        position: fixed;
        width:300px;
        top:100px;
        left:20px;
        height:auto;
        -webkit-transition-property: position;
        -webkit-transition-duration: 2s;
        -webkit-transition-timing-function: ease;
        transition-property: position ;
        transition-property: width;
        transition-duration: 2s;
        transition-timing-function: ease;
        overflow: scroll;

    }

}
.challenge > *{display: inline-block}

.challengeStreakContainter{
    display:flex;
}
.challengeStreak {
    display: block;
    margin:auto;
}
.challengeStreakCell {
    display: inline-block;
    margin:3px;
    width: 10px;
    height:10px;
    border: 1px transparent;
    border-radius: 50%;


}
.challengeCheckbox{
    margin-left: 16px !important;
    margin-right: 35px !important;
}

h3 {padding-left: 50px}

.yes-no {
    float:right;
    width: 90px;
}

